server/nodered/flows.json
[
  {
    "id": "tab1",
    "type": "tab",
    "label": "CrypTAK WebMap",
    "disabled": false
  },
  {
    "id": "inj_cot",
    "type": "inject",
    "z": "tab1",
    "name": "Connect / Keep-alive (60s)",
    "props": [],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 100,
    "wires": [
      [
        "fn_cot"
      ]
    ]
  },
  {
    "id": "fn_cot",
    "type": "function",
    "z": "tab1",
    "name": "FTS CoT TCP Client",
    "func": "var net  = global.get('net');\nvar maps = global.get('cotMaps');\n\n// Pre-built CoT XML passthrough (drawing \u2192 ATAK)\nif (msg.payload && typeof msg.payload === 'string' && msg.payload.startsWith('<?xml')) {\n    var s = context.get('socket');\n    if (s && typeof s.write === 'function' && !s.destroyed) {\n        s.write(msg.payload);\n        node.log('Drawing CoT sent (' + msg.payload.length + ' bytes)');\n    } else {\n        node.warn('FTS socket not ready, drawing CoT dropped');\n    }\n    return null;\n}\n\nvar socket  = context.get('socket');\nvar kaTimer = context.get('kaTimer');\n\n// Validate socket is a real net.Socket, not a stale deserialized JSON object\nif (socket && typeof socket.write !== 'function') {\n    context.set('socket', null);\n    socket = null;\n}\n\nif (socket && !socket.destroyed) {\n    return null;\n}\n\nif (kaTimer) { clearInterval(kaTimer); context.set('kaTimer', null); }\n\nfunction connectToFTS() {\n    var existing = context.get('socket');\n    if (existing && typeof existing.write === 'function' && !existing.destroyed) return;\n\n    var myUid = 'CrypTAK-NR-WebMap';\n\n    var s = new net.Socket();\n    var buf = '';\n\n    s.connect(8087, 'freetakserver', function() {\n        node.log('FTS connected as ' + myUid);\n        s.write(maps.makeSA(myUid));\n        var timer = setInterval(function() {\n            if (s && !s.destroyed) {\n                s.write(maps.makeSA(myUid));\n            } else {\n                clearInterval(timer);\n                context.set('kaTimer', null);\n            }\n        }, 240000);\n        context.set('kaTimer', timer);\n    });\n\n    s.on('data', function(data) {\n        context.set('retryCount', 0);\n        buf += data.toString();\n        var endTag = '</event>';\n        var idx;\n        while ((idx = buf.indexOf(endTag)) !== -1) {\n            var xml = buf.substring(0, idx + endTag.length);\n            buf = buf.substring(idx + endTag.length);\n            try {\n                var marker = maps.parseCotToMarker(xml);\n                if (!marker) {\n                    // Try drawing parser for u-d-* types\n                    var typeCheck = xml.match(/\\btype=\"([^\"]+)\"/);\n                    if (typeCheck && typeCheck[1].startsWith(\"u-d-\")) {\n                        var drawing = maps.parseCotDrawing(xml);\n                        if (drawing) {\n                            node.send({ payload: drawing });\n                        }\n                    }\n                    continue;\n                }\n\n                var cache = flow.get('takMarkers') || {};\n                if (marker.deleted) {\n                    delete cache[marker.name];\n                    flow.set('takMarkers', cache);\n                    node.send({ payload: marker });\n                    continue;\n                }\n\n                // Tracker overrides: apply WebMap-set affiliation, asset type, and SIDC\n                if (marker._tracker) {\n                    var affOverrides = flow.get('trackerAffiliations') || {};\n                    var aff = affOverrides[marker.name];\n                    if (aff) {\n                        marker.iconColor = maps.colorMap[aff] || marker.iconColor;\n                        marker.layer = maps.affiliationNames[aff] || marker.layer;\n                        marker._baseColor = marker.iconColor;\n                    }\n                    // Apply asset type SIDC (overrides default icon)\n                    var assetTypes = flow.get('trackerAssetTypes') || {};\n                    var assetType = assetTypes[marker.name];\n                    if (assetType) {\n                        marker.SIDC = maps.buildTrackerSIDC(aff || 'f', assetType);\n                        delete marker.icon;\n                    } else {\n                        // Fall back to icon override if no asset type set\n                        var iconOverrides = flow.get('trackerIcons') || {};\n                        var customIcon = iconOverrides[marker.name];\n                        if (customIcon) {\n                            marker.icon = customIcon;\n                        }\n                    }\n                }\n\n                cache[marker.name] = marker;\n\n                // Purge stale markers from cache (every 100th write)\n                var writeCount = (context.get('writeCount') || 0) + 1;\n                context.set('writeCount', writeCount);\n                if (writeCount % 100 === 0) {\n                    var now = Date.now();\n                    var cKeys = Object.keys(cache);\n                    for (var ci = 0; ci < cKeys.length; ci++) {\n                        var cm = cache[cKeys[ci]];\n                        if (cm && cm._staleMs && cm._staleMs < now) {\n                            delete cache[cKeys[ci]];\n                        }\n                    }\n                }\n                flow.set('takMarkers', cache);\n                node.send({ payload: marker });\n\n                // Tracker trail: store position history and emit polyline\n                if (marker._tracker) {\n                    var history = flow.get('trackerHistory') || {};\n                    var trail = history[marker.name] || [];\n                    trail.push({ lat: marker.lat, lon: marker.lon, ts: Date.now() });\n\n                    // Trim to 24h\n                    var cutoff = Date.now() - 24 * 3600000;\n                    trail = trail.filter(function(p) { return p.ts >= cutoff; });\n                    history[marker.name] = trail;\n                    flow.set('trackerHistory', history);\n\n                    // Emit polyline to worldmap\n                    var trailDuration = flow.get('trailDuration');\n                    if (trailDuration === undefined || trailDuration === null) trailDuration = 3600000;\n                    if (trailDuration > 0 && trail.length >= 2) {\n                        var displayCutoff = Date.now() - trailDuration;\n                        var displayTrail = trail.filter(function(p) { return p.ts >= displayCutoff; });\n                        if (displayTrail.length >= 2) {\n                            node.send({ payload: {\n                                name: 'trail-' + marker.name,\n                                line: displayTrail.map(function(p) { return { lat: p.lat, lng: p.lon }; }),\n                                color: marker.iconColor,\n                                weight: 3,\n                                opacity: 0.6,\n                                layer: 'TAK Tracks',\n                                ttl: 600\n                            }});\n                        }\n                    }\n                }\n            } catch(e) { node.warn('CoT parse error: ' + e.message); }\n        }\n    });\n\n    s.on('error', function(e) {\n        node.warn('FTS socket error: ' + e.message);\n        var t = context.get('kaTimer');\n        if (t) { clearInterval(t); context.set('kaTimer', null); }\n        s.destroy();\n        context.set('socket', null);\n    });\n\n    s.on('close', function() {\n        node.warn('FTS socket closed (' + myUid + ')');\n        var t = context.get('kaTimer');\n        if (t) { clearInterval(t); context.set('kaTimer', null); }\n        context.set('socket', null);\n        if (context.get('closing')) return;\n        var retries = context.get('retryCount') || 0;\n        if (retries < 5) {\n            context.set('retryCount', retries + 1);\n            var delay = (retries + 1) * 2000;\n            node.warn('Retry ' + (retries + 1) + '/5 in ' + (delay/1000) + 's');\n            setTimeout(function() { connectToFTS(); }, delay);\n        } else {\n            node.warn('FTS: 5 retries exhausted, waiting for inject cycle');\n            context.set('retryCount', 0);\n        }\n    });\n\n    context.set('socket', s);\n}\n\ncontext.set('closing', false);\nconnectToFTS();\n\n// Periodic color refresh \u2014 recalculate fade colors every 30s and remove expired markers.\n// Clear stale deserialized timer from persisted context\nvar _rt = context.get('refreshTimer');\nif (_rt && typeof _rt.ref !== 'function') {\n    context.set('refreshTimer', null);\n}\n\nif (!context.get('refreshTimer')) {\n    var refreshTimer = setInterval(function() {\n        var cache = flow.get('takMarkers') || {};\n        var result = maps.refreshMarkerColors(cache);\n\n        // Send updated colors to worldmap\n        for (var i = 0; i < result.updated.length; i++) {\n            node.send({ payload: result.updated[i] });\n        }\n\n        // Remove fully expired markers\n        for (var j = 0; j < result.expired.length; j++) {\n            node.send({ payload: { name: result.expired[j], deleted: true } });\n            delete cache[result.expired[j]];\n        }\n\n        if (result.updated.length > 0 || result.expired.length > 0) {\n            flow.set('takMarkers', cache);\n        }\n        if (result.expired.length > 0) {\n            node.log('Refresh: updated ' + result.updated.length + ' colors, removed ' + result.expired.length + ' expired');\n        }\n\n        // Refresh tracker trails \u2014 re-emit polylines with updated colors and TTL\n        var history = flow.get('trackerHistory') || {};\n        var trailDuration = flow.get('trailDuration');\n        if (trailDuration === undefined || trailDuration === null) trailDuration = 3600000;\n        if (trailDuration > 0) {\n            var displayCutoff = Date.now() - trailDuration;\n            var trackerKeys = Object.keys(history);\n            for (var t = 0; t < trackerKeys.length; t++) {\n                var tName = trackerKeys[t];\n                var tMarker = cache[tName];\n                if (!tMarker) continue;\n                var tTrail = history[tName].filter(function(p) { return p.ts >= displayCutoff; });\n                if (tTrail.length >= 2) {\n                    node.send({ payload: {\n                        name: 'trail-' + tName,\n                        line: tTrail.map(function(p) { return { lat: p.lat, lng: p.lon }; }),\n                        color: tMarker.iconColor,\n                        weight: 3,\n                        opacity: 0.6,\n                        layer: 'TAK Tracks',\n                        ttl: 600\n                    }});\n                }\n            }\n        }\n    }, 30000);\n    context.set('refreshTimer', refreshTimer);\n}\n\nreturn null;",
    "finalize": "\ncontext.set('closing', true);\nvar s = context.get('socket');  if (s && typeof s.destroy === 'function') s.destroy();\nvar t = context.get('kaTimer'); if (t && typeof t.ref === 'function') clearInterval(t);\nvar rt = context.get('refreshTimer'); if (rt && typeof rt.ref === 'function') clearInterval(rt);\n",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 100,
    "wires": [
      [
        "wmap1"
      ]
    ]
  },
  {
    "id": "inj_states",
    "type": "inject",
    "z": "tab1",
    "name": "Load US States (startup)",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 200,
    "wires": [
      [
        "http_states"
      ]
    ]
  },
  {
    "id": "http_states",
    "type": "http request",
    "z": "tab1",
    "name": "Fetch States GeoJSON",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://raw.githubusercontent.com/PublicaMundi/MappingAPI/master/data/geojson/us-states.json",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 380,
    "y": 200,
    "wires": [
      [
        "fmt_states"
      ]
    ]
  },
  {
    "id": "fmt_states",
    "type": "function",
    "z": "tab1",
    "name": "Format US States",
    "func": "if (!msg.payload || !msg.payload.features) { node.warn('States GeoJSON failed'); return null; }\nflow.set('statesGeoJSON', msg.payload);\nnode.log('Cached ' + msg.payload.features.length + ' state features');\nmsg.payload = { command: { map: {\n    overlay: 'US States',\n    geojson: flow.get('statesGeoJSON'),\n    opt: { style: \"function() { return { color: '#444', weight: 1.5, fill: false } }\" },\n    visible: false, fit: false, clickable: false\n}}};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 200,
    "wires": [
      [
        "wmap1"
      ]
    ]
  },
  {
    "id": "inj_counties",
    "type": "inject",
    "z": "tab1",
    "name": "Load US Counties (startup)",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "6",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 260,
    "wires": [
      [
        "http_counties"
      ]
    ]
  },
  {
    "id": "http_counties",
    "type": "http request",
    "z": "tab1",
    "name": "Fetch Counties GeoJSON",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 385,
    "y": 260,
    "wires": [
      [
        "fmt_counties"
      ]
    ]
  },
  {
    "id": "fmt_counties",
    "type": "function",
    "z": "tab1",
    "name": "Format US Counties",
    "func": "if (!msg.payload || !msg.payload.features) { node.warn('Counties GeoJSON failed'); return null; }\nflow.set('countiesGeoJSON', msg.payload);\nnode.log('Cached ' + msg.payload.features.length + ' county features');\nmsg.payload = { command: { map: {\n    overlay: 'US Counties',\n    geojson: flow.get('countiesGeoJSON'),\n    opt: { style: \"function() { return { color: '#888', weight: 0.7, fill: false } }\" },\n    visible: false, fit: false, clickable: false\n}}};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 595,
    "y": 260,
    "wires": [
      [
        "wmap1"
      ]
    ]
  },
  {
    "id": "inj_noaa",
    "type": "inject",
    "z": "tab1",
    "name": "Poll NOAA (5 min)",
    "props": [],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": "9",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 360,
    "wires": [
      [
        "setup_noaa"
      ]
    ]
  },
  {
    "id": "setup_noaa",
    "type": "function",
    "z": "tab1",
    "name": "Set NOAA headers",
    "func": "\nmsg.headers = {\n    \"User-Agent\": \"CrypTAK-WebMap/1.0\",\n    \"Accept\": \"application/geo+json\"\n};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 360,
    "wires": [
      [
        "http_noaa"
      ]
    ]
  },
  {
    "id": "http_noaa",
    "type": "http request",
    "z": "tab1",
    "name": "Fetch NOAA Alerts",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.weather.gov/alerts/active?status=actual&message_type=alert",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 560,
    "y": 360,
    "wires": [
      [
        "fmt_noaa"
      ]
    ]
  },
  {
    "id": "fmt_noaa",
    "type": "function",
    "z": "tab1",
    "name": "Format NOAA Alerts",
    "func": "var data = msg.payload;\nif (!data || !data.features) { node.warn('NOAA API failed: ' + JSON.stringify(msg.statusCode)); return null; }\n\nvar now = Date.now();\nvar sevStyle = {\n    'Extreme':  { stroke: '#CC0000', fill: '#FF0000', 'fill-opacity': 0.20 },\n    'Severe':   { stroke: '#CC4400', fill: '#FF6600', 'fill-opacity': 0.075 },\n    'Moderate': { stroke: '#AAAA00', fill: '#FFEE00', 'fill-opacity': 0.11 },\n    'Minor':    { stroke: '#0055AA', fill: '#3399FF', 'fill-opacity': 0.075 },\n    'Unknown':  { stroke: '#555555', fill: '#999999', 'fill-opacity': 0.05 }\n};\n\nvar features = [];\ndata.features.forEach(function(f) {\n    if (!f.geometry) return;\n    if (f.properties.expires && new Date(f.properties.expires).getTime() < now) return;\n    var sev = f.properties.severity || 'Unknown';\n    var sp  = sevStyle[sev] || sevStyle['Unknown'];\n    var feat = JSON.parse(JSON.stringify(f));\n    // worldmap's overlay+geojson handler reads feature.properties.style\n    // with keys: stroke, stroke-width, fill, fill-opacity\n    feat.properties.style = {\n        stroke: sp.stroke,\n        'stroke-width': 2,\n        fill: sp.fill,\n        'fill-opacity': sp['fill-opacity']\n    };\n    feat.properties.name = feat.properties.event || 'Alert';\n    features.push(feat);\n});\n\nnode.log('NOAA: ' + features.length + ' active alerts');\nvar fc = { type: 'FeatureCollection', features: features };\nflow.set('noaaGeoJSON', fc);\n\n// worldmap's overlay+geojson handler automatically removes the old overlay\n// before creating the new one (line ~2850 in worldmap.js), so no clear needed.\nmsg.payload = { command: { map: {\n    overlay: 'NOAA Alerts',\n    geojson: fc,\n    visible: true, fit: false\n}}};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 760,
    "y": 360,
    "wires": [
      [
        "wmap1"
      ]
    ]
  },
  {
    "id": "mqtt_broker1",
    "type": "mqtt-broker",
    "name": "Meshtastic MQTT",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-mesh-map",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "inj_owned",
    "type": "inject",
    "z": "tab1",
    "name": "Load Owned Nodes (once)",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 480,
    "wires": [
      [
        "fn_owned"
      ]
    ]
  },
  {
    "id": "fn_owned",
    "type": "function",
    "z": "tab1",
    "name": "Mesh Node Whitelist",
    "func": "// Load node registry from nodes.yaml (single source of truth)\nvar registry = global.get('nodesRegistry');\nif (!registry || !registry.nodes) {\n    node.warn('nodesRegistry not loaded \u2014 check nodes.yaml mount');\n    return null;\n}\n\nvar ownedNodes = {};\nvar ownedFlat = {};\nvar nodes = registry.nodes;\nvar names = Object.keys(nodes);\n\nfor (var i = 0; i < names.length; i++) {\n    var name = names[i];\n    var cfg = nodes[name];\n    var id = cfg.id;\n    if (!id) continue; // skip nodes without hex ID (not yet provisioned)\n\n    ownedNodes[id] = {\n        name: name,\n        bridge: !!cfg.bridge,\n        cotType: cfg.cot_type || 'a-f-G-E-S'\n    };\n    ownedFlat[id] = name;\n}\n\nflow.set('meshOwnedNodes', ownedFlat);\nflow.set('meshOwnedConfig', ownedNodes);\n\n// Pre-seed registry so owned nodes show correct names immediately\nvar meshRegistry = flow.get('meshRegistry') || {};\nvar ids = Object.keys(ownedNodes);\nfor (var j = 0; j < ids.length; j++) {\n    meshRegistry[ids[j]] = meshRegistry[ids[j]] || { id: ids[j] };\n    if (!meshRegistry[ids[j]].name) meshRegistry[ids[j]].name = ownedNodes[ids[j]].name;\n}\nflow.set('meshRegistry', meshRegistry);\n\nnode.log('Mesh whitelist loaded from nodes.yaml: ' + ids.length + ' owned nodes');\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "mqtt_mesh",
    "type": "mqtt in",
    "z": "tab1",
    "name": "Meshtastic JSON Topics",
    "topic": "msh/+/2/json/#",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 560,
    "wires": [
      [
        "fn_mesh"
      ]
    ]
  },
  {
    "id": "fn_mesh",
    "type": "function",
    "z": "tab1",
    "name": "Parse Mesh Positions",
    "func": "if (msg.topic.indexOf('/json/') === -1) return null;\n\nvar payload = msg.payload;\nif (!payload || !payload.from) return null;\n\nvar nodeId   = '!' + payload.from.toString(16).padStart(8, '0');\nvar msgType  = payload.type;\nvar ts       = payload.timestamp || Math.floor(Date.now() / 1000);\nvar registry = flow.get('meshRegistry') || {};\nregistry[nodeId] = registry[nodeId] || { id: nodeId };\n\n// Capture link-quality from every packet (how the bridge hears this node)\nvar pktSnr  = typeof payload.snr       === 'number' ? payload.snr       : null;\nvar pktHops = typeof payload.hops_away === 'number' ? payload.hops_away : null;\nvar pktRssi = typeof payload.rssi      === 'number' ? payload.rssi      : null;\nif (pktSnr  !== null) registry[nodeId].snrToBridge  = pktSnr;\nif (pktHops !== null) registry[nodeId].hopsToBridge = pktHops;\nif (pktRssi !== null) registry[nodeId].rssi         = pktRssi;\nregistry[nodeId].lastHeard = ts;\n\nif (msgType === 'nodeinfo' && payload.payload) {\n    var info = payload.payload;\n    // Don't overwrite whitelist display names for owned nodes\n    var ownedFlat = flow.get('meshOwnedNodes') || {};\n    if (!ownedFlat[nodeId]) {\n        registry[nodeId].name = info.longname || info.shortname || nodeId;\n    }\n    registry[nodeId].shortName = info.shortname || '';\n    if (typeof info.hardware === 'number') registry[nodeId].hwModel = info.hardware;\n    if (typeof info.role     === 'number') registry[nodeId].role    = info.role;\n    flow.set('meshRegistry', registry);\n    return null;\n}\n\nif (msgType === 'position' && payload.payload) {\n    var pos = payload.payload;\n    var lat = (pos.latitude_i  || 0) / 1e7;\n    var lon = (pos.longitude_i || 0) / 1e7;\n\n    if (lat !== 0 || lon !== 0) {\n        registry[nodeId].lat = lat;\n        registry[nodeId].lon = lon;\n        registry[nodeId].alt = pos.altitude || 0;\n    }\n    flow.set('meshRegistry', registry);\n    if (lat === 0 && lon === 0) return null;\n\n    var topoLines = rebuildTopologyLines(nodeId, flow, registry);\n    if (topoLines.length === 0) return null;\n    return topoLines.map(function(l) { return { payload: l }; });\n}\n\nif (msgType === 'telemetry' && payload.payload) {\n    var t = payload.payload;\n    if (typeof t.battery_level       === 'number') registry[nodeId].battery     = t.battery_level;\n    if (typeof t.voltage             === 'number') registry[nodeId].voltage     = t.voltage;\n    if (typeof t.channel_utilization === 'number') registry[nodeId].channelUtil = t.channel_utilization;\n    if (typeof t.air_util_tx         === 'number') registry[nodeId].airUtilTx   = t.air_util_tx;\n    if (typeof t.uptime_seconds      === 'number') registry[nodeId].uptime      = t.uptime_seconds;\n    flow.set('meshRegistry', registry);\n    return null;\n}\n\nif (msgType === 'neighborinfo' && payload.payload) {\n    var ni = payload.payload;\n    var neighbors = ni.neighbors || [];\n    var topology = flow.get('meshTopology') || {};\n    topology[nodeId] = { ts: Date.now(), neighbors: {} };\n    for (var j = 0; j < neighbors.length; j++) {\n        var nb = neighbors[j];\n        var nbId = '!' + nb.node_id.toString(16).padStart(8, '0');\n        topology[nodeId].neighbors[nbId] = nb.snr || 0;\n    }\n    flow.set('meshTopology', topology);\n    flow.set('meshRegistry', registry);\n\n    var lines = rebuildTopologyLines(nodeId, flow, registry);\n    if (lines.length === 0) return null;\n    return lines.map(function(l) { return { payload: l }; });\n}\n\nflow.set('meshRegistry', registry);\nreturn null;\n\n// \u2500\u2500 helpers \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nfunction snrToLinkStyle(snr) {\n    if (snr >= 5)  return { color: '#00DD00', weight: 3 };\n    if (snr >= 0)  return { color: '#AADD00', weight: 2 };\n    if (snr >= -7) return { color: '#FFAA00', weight: 2 };\n    return { color: '#FF4444', weight: 1 };\n}\n\nfunction rebuildTopologyLines(changedNodeId, flow, registry) {\n    var topology = flow.get('meshTopology') || {};\n    var lines = [];\n    var seen = {};\n    var allSources = Object.keys(topology);\n    for (var s = 0; s < allSources.length; s++) {\n        var fromId = allSources[s];\n        var entry = topology[fromId];\n        if (!entry || !entry.neighbors) continue;\n        var nbKeys = Object.keys(entry.neighbors);\n        for (var n = 0; n < nbKeys.length; n++) {\n            var toId = nbKeys[n];\n            if (fromId !== changedNodeId && toId !== changedNodeId) continue;\n            var edgePair = [fromId, toId].sort();\n            var edgeName = 'link-' + edgePair[0].replace('!','') + '-' + edgePair[1].replace('!','');\n            if (seen[edgeName]) continue;\n            seen[edgeName] = true;\n\n            var fromNode = registry[fromId];\n            var toNode   = registry[toId];\n            if (!fromNode || !fromNode.lat || !toNode || !toNode.lat) continue;\n\n            var snr = entry.neighbors[toId];\n            if (topology[toId] && topology[toId].neighbors && topology[toId].neighbors[fromId] !== undefined) {\n                snr = Math.max(snr, topology[toId].neighbors[fromId]);\n            }\n            var style = snrToLinkStyle(snr);\n            lines.push({\n                name:    edgeName,\n                line:    [\n                    { lat: fromNode.lat, lng: fromNode.lon },\n                    { lat: toNode.lat,   lng: toNode.lon   }\n                ],\n                color:   style.color,\n                weight:  style.weight,\n                opacity: 0.75,\n                layer:   'Mesh Links',\n                ttl:     1800,\n                tooltip: snr.toFixed(1) + ' dB'\n            });\n        }\n    }\n    return lines;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 560,
    "wires": [
      [
        "wmap1"
      ]
    ]
  },
  {
    "id": "wmap1",
    "type": "worldmap",
    "z": "tab1",
    "name": "CrypTAK Map",
    "lat": "38.87",
    "lon": "-77.30",
    "zoom": "11",
    "layer": "OSM",
    "cluster": "",
    "maxage": "",
    "usermenu": "show",
    "layers": "show",
    "panit": "false",
    "panlock": "false",
    "zoomlock": "false",
    "hiderightclick": "false",
    "coords": "mgrs",
    "showgrid": "false",
    "allowFileDrop": "false",
    "path": "/tak-map",
    "overlist": "DR",
    "maplist": "OSMC,EsriS,EsriT,OpTop",
    "mapname": "",
    "mapurl": "",
    "mapopt": "",
    "mapwms": false,
    "x": 820,
    "y": 100,
    "wires": []
  },
  {
    "id": "wmapin1",
    "type": "worldmap in",
    "z": "tab1",
    "name": "Client Events",
    "path": "/tak-map",
    "x": 170,
    "y": 640,
    "wires": [
      [
        "fn_on_connect",
        "fn_draw_to_cot"
      ]
    ]
  },
  {
    "id": "fn_on_connect",
    "type": "function",
    "z": "tab1",
    "name": "Replay on Connect",
    "func": "if (!msg.payload || msg.payload.action !== 'connected') return null;\nvar maps = global.get('cotMaps');\nvar sid = msg._sessionid;\nvar msgs = [];\n\n// Branding\nmsgs.push({ payload: { command: { toptitle: 'CrypTAK WebMap' } }, _sessionid: sid });\nmsgs.push({ payload: { command: { toplogo: '/cryptak-logo.png' } }, _sessionid: sid });\nmsgs.push({ payload: { command: { coords: 'mgrs' } }, _sessionid: sid });\nvar legend = flow.get('legendHtml');\nif (legend) msgs.push({ payload: { command: { legend: legend } }, _sessionid: sid });\n\n// GeoJSON overlays\nvar stGeo = flow.get('statesGeoJSON');\nif (stGeo) msgs.push({ payload: { command: { map: { overlay: 'US States', geojson: stGeo, opt: { style: \"function() { return { color: '#444', weight: 1.5, fill: false } }\" }, visible: false, fit: false, clickable: false } } }, _sessionid: sid });\nvar coGeo = flow.get('countiesGeoJSON');\nif (coGeo) msgs.push({ payload: { command: { map: { overlay: 'US Counties', geojson: coGeo, opt: { style: \"function() { return { color: '#888', weight: 0.7, fill: false } }\" }, visible: false, fit: false, clickable: false } } }, _sessionid: sid });\nvar noaaGeo = flow.get('noaaGeoJSON');\n// worldmap's overlay+geojson handler auto-replaces, no clear needed\nif (noaaGeo && noaaGeo.features && noaaGeo.features.length > 0) msgs.push({ payload: { command: { map: { overlay: 'NOAA Alerts', geojson: noaaGeo, visible: true, fit: false } } }, _sessionid: sid });\n\n// TAK markers (skip stale)\nvar takCache = flow.get('takMarkers') || {};\nvar tKeys = Object.keys(takCache);\nvar replayNow = Date.now();\nvar staleCount = 0;\nfor (var i = 0; i < tKeys.length; i++) {\n    var m = takCache[tKeys[i]];\n    if (m && m._staleMs && m._staleMs < replayNow) {\n        staleCount++;\n        continue;\n    }\n    msgs.push({ payload: Object.assign({}, m), _sessionid: sid });\n}\nif (staleCount > 0) node.log('Skipped ' + staleCount + ' stale markers during replay');\n\n// Replay tracker trails\nvar history = flow.get('trackerHistory') || {};\nvar trailDuration = flow.get('trailDuration');\nif (trailDuration === undefined || trailDuration === null) trailDuration = 3600000;\nif (trailDuration > 0) {\n    var displayCutoff = Date.now() - trailDuration;\n    var tKeys2 = Object.keys(history);\n    for (var k = 0; k < tKeys2.length; k++) {\n        var tkName = tKeys2[k];\n        var tkMarker = takCache[tkName];\n        if (!tkMarker) continue;\n        var tTrail = history[tkName].filter(function(p) { return p.ts >= displayCutoff; });\n        if (tTrail.length >= 2) {\n            msgs.push({ payload: {\n                name: 'trail-' + tkName,\n                line: tTrail.map(function(p) { return { lat: p.lat, lng: p.lon }; }),\n                color: tkMarker.iconColor,\n                weight: 3, opacity: 0.6,\n                layer: 'TAK Tracks', ttl: 600\n            }, _sessionid: sid });\n        }\n    }\n}\n\n\n// Mesh topology lines\nvar meshTopology = flow.get('meshTopology') || {};\nvar meshReg = flow.get('meshRegistry') || {};\nvar topoSeen = {};\nvar topoSources = Object.keys(meshTopology);\nfor (var tl = 0; tl < topoSources.length; tl++) {\n    var tlFrom = topoSources[tl];\n    var tlEntry = meshTopology[tlFrom];\n    if (!tlEntry || !tlEntry.neighbors) continue;\n    var tlNbs = Object.keys(tlEntry.neighbors);\n    for (var tn = 0; tn < tlNbs.length; tn++) {\n        var tlTo = tlNbs[tn];\n        var epair = [tlFrom, tlTo].sort();\n        var ename = 'link-' + epair[0].replace('!','') + '-' + epair[1].replace('!','');\n        if (topoSeen[ename]) continue;\n        topoSeen[ename] = true;\n        var fnNode = meshReg[tlFrom];\n        var tnNode = meshReg[tlTo];\n        if (!fnNode || !fnNode.lat || !tnNode || !tnNode.lat) continue;\n        var lsnr = tlEntry.neighbors[tlTo];\n        if (meshTopology[tlTo] && meshTopology[tlTo].neighbors && meshTopology[tlTo].neighbors[tlFrom] !== undefined) {\n            lsnr = Math.max(lsnr, meshTopology[tlTo].neighbors[tlFrom]);\n        }\n        var lStyle = maps.snrToLinkStyle(lsnr);\n        var lcolor = lStyle.color, lweight = lStyle.weight;\n        msgs.push({ payload: {\n            name: ename,\n            line: [{ lat: fnNode.lat, lng: fnNode.lon }, { lat: tnNode.lat, lng: tnNode.lon }],\n            color: lcolor, weight: lweight, opacity: 0.75,\n            layer: 'Mesh Links', ttl: 1800,\n            tooltip: lsnr.toFixed(1) + ' dB'\n        }, _sessionid: sid });\n    }\n}\n\nnode.log('Replaying ' + msgs.length + ' items to session ' + sid);\nreturn [msgs];",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 640,
    "wires": [
      [
        "wmap1"
      ]
    ]
  },
  {
    "id": "inj_branding",
    "type": "inject",
    "z": "tab1",
    "name": "Branding + Legend (startup)",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 40,
    "wires": [
      [
        "fn_branding"
      ]
    ]
  },
  {
    "id": "fn_branding",
    "type": "function",
    "z": "tab1",
    "name": "Branding + Legend + Coords",
    "func": "var legendHtml = '<div style=\"font-family:sans-serif;font-size:12px;line-height:1.6;\">'\n    + '<b style=\"font-size:14px;\">CrypTAK</b><br>'\n    + '<hr style=\"margin:4px 0;\">'\n    + '<b>TAK Markers</b><br>'\n    + '<span style=\"color:#0066FF;\">&#9646;</span> Friendly (blue rectangle)<br>'\n    + '<span style=\"color:#FF0000;\">&#9670;</span> Hostile (red diamond)<br>'\n    + '<span style=\"color:#FF8C00;\">&#9670;</span> Suspect (orange diamond)<br>'\n    + '<span style=\"color:#00AA00;\">&#9632;</span> Neutral (green square)<br>'\n    + '<span style=\"color:#CCCC00;\">&#10048;</span> Unknown (yellow clover)<br>'\n    + '<hr style=\"margin:4px 0;\">'\n    + '<b>TAK Drawings</b><br>'\n    + 'User-drawn shapes from ATAK<br>'\n    + '<hr style=\"margin:4px 0;\">'\n    + '<b>Mesh Nodes</b><br>'\n    + '<span style=\"color:#0066FF;\">&#9679;</span> Owned<br>'\n    + '<span style=\"color:#00AA00;\">&#9679;</span> Community<br>'\n    + '<hr style=\"margin:4px 0;\">'\n    + '<b>NOAA Alerts</b><br>'\n    + '<span style=\"color:#FF0000;\">&#9632;</span> Extreme<br>'\n    + '<span style=\"color:#FF6600;\">&#9632;</span> Severe<br>'\n    + '<span style=\"color:#FFEE00;\">&#9632;</span> Moderate<br>'\n    + '<span style=\"color:#3399FF;\">&#9632;</span> Minor<br>'\n    + '</div>';\nflow.set('legendHtml', legendHtml);\n\n// Pre-register all marker layers so toggles appear immediately,\n// even before any real markers arrive. Sending a deleted placeholder\n// creates the layer group in the control panel without leaving a marker.\nvar layerSeeds = [\n    \"TAK Friendly\", \"TAK Hostile\", \"TAK Suspect\", \"TAK Neutral\",\n    \"TAK Unknown\", \"TAK Other\", \"TAK Tracks\", \"TAK Drawings\", \"Meshtastic\"\n];\nvar seedMsgs = layerSeeds.map(function(layerName) {\n    return {\n        payload: {\n            name: \"_seed_\" + layerName,\n            layer: layerName,\n            deleted: true\n        }\n    };\n});\n\nvar msgs = [\n    { payload: { command: { toptitle: 'CrypTAK WebMap' } } },\n    { payload: { command: { toplogo: '/cryptak-logo.png' } } },\n    { payload: { command: { coords: 'mgrs' } } },\n    { payload: { command: { legend: legendHtml } } }\n];\nreturn [msgs.concat(seedMsgs)];",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 40,
    "wires": [
      [
        "wmap1"
      ]
    ]
  },
  {
    "id": "fn_draw_to_cot",
    "type": "function",
    "z": "tab1",
    "name": "Draw \u2192 CoT XML",
    "func": "var p = msg.payload;\nif (!p || p.action !== 'draw') return null;\n\nvar now   = new Date().toISOString();\nvar stale = new Date(Date.now() + 24 * 3600000).toISOString();\n\nfunction xmlEsc(s) {\n    return String(s).replace(/&/g,'&amp;').replace(/'/g,'&apos;')\n        .replace(/\"/g,'&quot;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n}\nvar rawName = p.name || 'Drawing';\nvar uid  = 'NR-DRAW-' + rawName.replace(/[^a-zA-Z0-9_-]/g, '-');\nvar name = xmlEsc(rawName);\n\n// CSS hex \u2192 signed 32-bit ARGB integer (TAK color format)\nfunction cssToArgb(css, alpha) {\n    alpha = (alpha !== undefined) ? alpha : 0xFF;\n    var hex = (css || '#FFFFFF').replace('#', '');\n    if (hex.length === 3) hex = hex[0]+hex[0]+hex[1]+hex[1]+hex[2]+hex[2];\n    var r = parseInt(hex.substring(0, 2), 16) || 0;\n    var g = parseInt(hex.substring(2, 4), 16) || 0;\n    var b = parseInt(hex.substring(4, 6), 16) || 0;\n    return ((alpha << 24) | (r << 16) | (g << 8) | b) | 0;\n}\n\nvar opts = p.options || {};\nvar strokeColor = cssToArgb(opts.color || '#FFFF00');\nvar fillAlpha   = Math.round((opts.fillOpacity !== undefined ? opts.fillOpacity : 0.2) * 255);\nvar fillColor   = cssToArgb(opts.fillColor || opts.color || '#FFFF00', fillAlpha);\nvar weight      = opts.weight || 3.0;\n\nfunction latlngsToLinks(arr) {\n    return arr.map(function(pt) {\n        return \"<link point='\" + pt.lat + \",\" + pt.lng + \"'/>\";\n    }).join('');\n}\n\nfunction centroid(arr) {\n    var lat = 0, lon = 0;\n    arr.forEach(function(pt) { lat += pt.lat; lon += pt.lng; });\n    return { lat: lat / arr.length, lon: lon / arr.length };\n}\n\nfunction eventWrap(type, centerLat, centerLon, detail) {\n    return \"<?xml version='1.0' encoding='UTF-8' standalone='yes'?>\"\n        + \"<event version='2.0' uid='\" + uid + \"' type='\" + type + \"'\"\n        + \" time='\" + now + \"' start='\" + now + \"' stale='\" + stale + \"' how='h-e'>\"\n        + \"<point lat='\" + centerLat + \"' lon='\" + centerLon + \"'\"\n        + \" hae='9999999.0' ce='9999999.0' le='9999999.0'/>\"\n        + \"<detail>\" + detail\n        + \"<strokeColor value='\" + strokeColor + \"'/>\"\n        + \"<strokeWeight value='\" + weight + \"'/>\"\n        + \"<fillColor value='\" + fillColor + \"'/>\"\n        + \"<contact callsign='\" + name + \"'/>\"\n        + \"<remarks>Drawn on CrypTAK WebMap</remarks>\"\n        + \"<archive/><labels_on value='true'/>\"\n        + \"</detail></event>\";\n}\n\nvar xml;\n\nif (p.type === 'circlemarker' && p.lat && p.lon && p.radius) {\n    xml = eventWrap('u-d-c-c', p.lat, p.lon,\n        \"<shape><ellipse major='\" + p.radius + \"' minor='\" + p.radius + \"' angle='360'/></shape>\");\n\n} else if (p.type === 'rectangle' && p.area) {\n    var c = centroid(p.area);\n    xml = eventWrap('u-d-r', c.lat, c.lon, latlngsToLinks(p.area));\n\n} else if (p.type === 'polygon' && p.area) {\n    var c = centroid(p.area);\n    var links = latlngsToLinks(p.area);\n    links += \"<link point='\" + p.area[0].lat + \",\" + p.area[0].lng + \"'/>\";\n    xml = eventWrap('u-d-f', c.lat, c.lon, links);\n\n} else if ((p.type === 'polyline' || p.type === 'route') && p.line) {\n    var arr = p.line;\n    if (Array.isArray(arr[0]) && arr[0].lat === undefined) arr = arr[0];\n    var c = centroid(arr);\n    xml = eventWrap('u-d-f', c.lat, c.lon, latlngsToLinks(arr));\n\n} else {\n    return null;\n}\n\nnode.log('Draw\u2192CoT: ' + p.type + ' \"' + name + '\" (' + xml.length + ' bytes)');\nmsg.payload = xml;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 720,
    "wires": [
      [
        "fn_cot"
      ]
    ]
  },
  {
    "id": "http_in_clients",
    "type": "http in",
    "z": "tab1",
    "name": "GET /tak-map/api/clients",
    "url": "/tak-map/api/clients",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 880,
    "wires": [
      [
        "fn_serve_clients"
      ]
    ]
  },
  {
    "id": "fn_serve_clients",
    "type": "function",
    "z": "tab1",
    "name": "Serve Client List",
    "func": "var takCache = flow.get('takMarkers') || {};\nvar keys = Object.keys(takCache);\nvar clients = [];\nvar now = Date.now();\n\nfor (var i = 0; i < keys.length; i++) {\n    var m = takCache[keys[i]];\n    if (!m || !m.lat || !m.lon) continue;\n    if (m._ageBased) continue;\n    if (m._meshtastic) continue;\n    if (m._staleMs && m._staleMs < now) continue;\n    clients.push({\n        callsign: m.name || keys[i],\n        lat: m.lat,\n        lon: m.lon,\n        team: (m.layer || '').replace('TAK ', '')\n    });\n}\n\nmsg.payload = { clients: clients, updated: now };\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 880,
    "wires": [
      [
        "http_out_clients"
      ]
    ]
  },
  {
    "id": "http_out_clients",
    "type": "http response",
    "z": "tab1",
    "name": "JSON Response",
    "statusCode": "200",
    "headers": {},
    "x": 580,
    "y": 880,
    "wires": []
  },
  {
    "id": "http_in_tracker_aff",
    "type": "http in",
    "z": "tab1",
    "name": "POST /tak-map/api/tracker/affiliation",
    "url": "/tak-map/api/tracker/affiliation",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 960,
    "wires": [
      [
        "fn_tracker_aff"
      ]
    ]
  },
  {
    "id": "fn_tracker_aff",
    "type": "function",
    "z": "tab1",
    "name": "Set Tracker Affiliation",
    "func": "var body = msg.payload;\nvar name = body && body.name;\nvar aff = body && body.affiliation;\nif (!name || !aff || 'fnush'.indexOf(aff) === -1) {\n    msg.payload = { error: 'name and affiliation (f/s/h) required' };\n    msg.statusCode = 400;\n    return msg;\n}\nvar overrides = flow.get('trackerAffiliations') || {};\noverrides[name] = aff;\nflow.set('trackerAffiliations', overrides);\n\n// Re-render the marker with new color and SIDC immediately\nvar maps = global.get('cotMaps');\nvar cache = flow.get('takMarkers') || {};\nvar marker = cache[name];\nif (marker) {\n    marker.iconColor = maps.colorMap[aff] || marker.iconColor;\n    marker.layer = maps.affiliationNames[aff] || marker.layer;\n    marker._baseColor = marker.iconColor;\n\n    // Regenerate SIDC with new affiliation\n    var assetTypes = flow.get('trackerAssetTypes') || {};\n    var assetType = assetTypes[name] || 'vehicle';\n    marker.SIDC = maps.buildTrackerSIDC(aff, assetType);\n    delete marker.icon; // use SIDC, not FA icon\n\n    // Rebuild popup with new color\n    var r = maps.parseRemarks('');\n    marker.popup = maps.buildPopup(name, r, marker.iconColor, marker._battery || 0, true);\n    cache[name] = marker;\n    flow.set('takMarkers', cache);\n    node.send({ payload: marker });\n}\nmsg.payload = { ok: true, name: name, affiliation: aff };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 960,
    "wires": [
      [
        "http_out_tracker",
        "wmap1"
      ]
    ]
  },
  {
    "id": "http_out_tracker",
    "type": "http response",
    "z": "tab1",
    "name": "Tracker API Response",
    "statusCode": "",
    "headers": {},
    "x": 660,
    "y": 960,
    "wires": []
  },
  {
    "id": "http_in_tracker_trail",
    "type": "http in",
    "z": "tab1",
    "name": "POST /tak-map/api/tracker/trail-duration",
    "url": "/tak-map/api/tracker/trail-duration",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 1040,
    "wires": [
      [
        "fn_tracker_trail"
      ]
    ]
  },
  {
    "id": "fn_tracker_trail",
    "type": "function",
    "z": "tab1",
    "name": "Set Trail Duration",
    "func": "var body = msg.payload;\nvar duration = body && body.duration;\nif (duration === undefined || duration === null || typeof duration !== 'number') {\n    msg.payload = { error: 'duration (ms) required' };\n    msg.statusCode = 400;\n    return msg;\n}\nflow.set('trailDuration', duration);\n\n// If duration is 0, delete all trail polylines\nif (duration === 0) {\n    var history = flow.get('trackerHistory') || {};\n    var keys = Object.keys(history);\n    for (var i = 0; i < keys.length; i++) {\n        node.send({ payload: { name: 'trail-' + keys[i], deleted: true } });\n    }\n}\nmsg.payload = { ok: true, duration: duration };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 1040,
    "wires": [
      [
        "http_out_tracker",
        "wmap1"
      ]
    ]
  },
  {
    "id": "http_in_tracker_icon",
    "type": "http in",
    "z": "tab1",
    "name": "POST /tak-map/api/tracker/icon",
    "url": "/tak-map/api/tracker/icon",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 1120,
    "wires": [
      [
        "fn_tracker_icon"
      ]
    ]
  },
  {
    "id": "fn_tracker_icon",
    "type": "function",
    "z": "tab1",
    "name": "Set Tracker Icon",
    "func": "var body = msg.payload;\nvar name = body && body.name;\nvar icon = body && body.icon;\nif (!name || !icon) {\n    msg.payload = { error: 'name and icon required' };\n    msg.statusCode = 400;\n    return msg;\n}\nvar overrides = flow.get('trackerIcons') || {};\noverrides[name] = icon;\nflow.set('trackerIcons', overrides);\n\n// Re-render the marker with new icon immediately\nvar maps = global.get('cotMaps');\nvar cache = flow.get('takMarkers') || {};\nvar marker = cache[name];\nif (marker) {\n    marker.icon = icon;\n    // Rebuild popup\n    var r = maps.parseRemarks('');\n    marker.popup = maps.buildPopup(name, r, marker.iconColor, marker._battery || 0, true);\n    cache[name] = marker;\n    flow.set('takMarkers', cache);\n    node.send({ payload: marker });\n}\nmsg.payload = { ok: true, name: name, icon: icon };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 1120,
    "wires": [
      [
        "http_out_tracker",
        "wmap1"
      ]
    ]
  },
  {
    "id": "http_in_mesh_nodes",
    "type": "http in",
    "z": "tab1",
    "name": "GET /tak-map/api/mesh/nodes",
    "url": "/tak-map/api/mesh/nodes",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 1120,
    "wires": [
      [
        "fn_mesh_nodes"
      ]
    ]
  },
  {
    "id": "fn_mesh_nodes",
    "type": "function",
    "z": "tab1",
    "name": "Serve Mesh Nodes",
    "func": "var registry    = flow.get('meshRegistry')    || {};\nvar ownedFlat   = flow.get('meshOwnedNodes')   || {};\nvar ownedConfig = flow.get('meshOwnedConfig')  || {};\nvar maps        = global.get('cotMaps');\nvar nowSec      = Math.floor(Date.now() / 1000);\nvar COMMUNITY_MAX_AGE = 48 * 3600; // prune community nodes not heard in 48h\n\nvar nodes = [];\nvar ids = Object.keys(registry);\nfor (var i = 0; i < ids.length; i++) {\n    var id = ids[i];\n    var n = registry[id];\n    var isOwned = ownedFlat.hasOwnProperty(id);\n\n    // Skip owned nodes that were pre-seeded but never actually heard\n    if (isOwned && !n.lastHeard) continue;\n\n    // Skip community nodes older than threshold\n    if (!isOwned && n.lastHeard && (nowSec - n.lastHeard) > COMMUNITY_MAX_AGE) continue;\n    if (!isOwned && !n.lastHeard) continue;\n\n    // Bridge flag and cotType from config\n    var cfg = ownedConfig[id] || {};\n    var cotType = cfg.cotType || 'a-n-G-E-S'; // default: unknown ground equipment sensor\n\n    // Generate SIDC from cotType\n    var sidc = null;\n    if (maps && maps.cotTypeToSIDC) {\n        sidc = maps.cotTypeToSIDC(cotType.split('-'));\n    }\n\n    nodes.push({\n        id:           id,\n        name:         ownedFlat[id] || n.name || id,\n        shortName:    n.shortName   || '',\n        hwModel:      n.hwModel     !== undefined ? n.hwModel      : null,\n        role:         n.role        !== undefined ? n.role         : null,\n        lat:          n.lat         || null,\n        lon:          n.lon         || null,\n        battery:      n.battery     || 0,\n        voltage:      n.voltage     || 0,\n        channelUtil:  n.channelUtil || 0,\n        airUtilTx:    n.airUtilTx   || 0,\n        uptime:       n.uptime      || 0,\n        snrToBridge:  n.snrToBridge  !== undefined ? n.snrToBridge  : null,\n        hopsToBridge: n.hopsToBridge !== undefined ? n.hopsToBridge : null,\n        rssi:         n.rssi         !== undefined ? n.rssi         : null,\n        lastHeard:    n.lastHeard    || 0,\n        hasPosition:  !!(n.lat && n.lon),\n        owned:        isOwned,\n        bridge:       !!cfg.bridge,\n        sidc:         sidc\n    });\n}\n\n// Owned first, then by lastHeard desc within each group\nnodes.sort(function(a, b) {\n    if (a.owned !== b.owned) return a.owned ? -1 : 1;\n    return (b.lastHeard || 0) - (a.lastHeard || 0);\n});\n\nmsg.payload = JSON.stringify({ nodes: nodes, ts: Date.now() });\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 1120,
    "wires": [
      [
        "http_out_mesh_nodes"
      ]
    ]
  },
  {
    "id": "http_out_mesh_nodes",
    "type": "http response",
    "z": "tab1",
    "name": "Mesh Nodes Response",
    "statusCode": "200",
    "headers": {},
    "x": 590,
    "y": 1120,
    "wires": []
  },
  {
    "id": "http_in_tracker_asset",
    "type": "http in",
    "z": "tab1",
    "name": "",
    "url": "/tak-map/api/tracker/asset-type",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 1080,
    "wires": [
      [
        "fn_tracker_asset"
      ]
    ]
  },
  {
    "id": "fn_tracker_asset",
    "type": "function",
    "z": "tab1",
    "name": "Set Tracker Asset Type",
    "func": "var body = msg.payload;\nvar name = body && body.name;\nvar assetType = body && body.assetType;\nvar validTypes = ['vehicle', 'person', 'cargo', 'sensor', 'infrastructure'];\nif (!name || !assetType || validTypes.indexOf(assetType) === -1) {\n    msg.payload = { error: 'name and assetType (vehicle/person/cargo/sensor/infrastructure) required' };\n    msg.statusCode = 400;\n    return msg;\n}\n\nvar assetTypes = flow.get('trackerAssetTypes') || {};\nassetTypes[name] = assetType;\nflow.set('trackerAssetTypes', assetTypes);\n\n// Re-render the marker with new SIDC immediately\nvar maps = global.get('cotMaps');\nvar cache = flow.get('takMarkers') || {};\nvar marker = cache[name];\nif (marker) {\n    // Get current affiliation\n    var affOverrides = flow.get('trackerAffiliations') || {};\n    var aff = affOverrides[name] || 'f';\n\n    // Regenerate SIDC with current affiliation + new asset type\n    marker.SIDC = maps.buildTrackerSIDC(aff, assetType);\n    delete marker.icon; // use SIDC, not FA icon\n\n    // Update color/layer from affiliation\n    marker.iconColor = maps.colorMap[aff] || marker.iconColor;\n    marker.layer = maps.affiliationNames[aff] || marker.layer;\n    marker._baseColor = marker.iconColor;\n\n    // Rebuild popup\n    var r = maps.parseRemarks('');\n    marker.popup = maps.buildPopup(name, r, marker.iconColor, marker._battery || 0, true);\n    cache[name] = marker;\n    flow.set('takMarkers', cache);\n    node.send({ payload: marker });\n}\nmsg.payload = { ok: true, name: name, assetType: assetType };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 1080,
    "wires": [
      [
        "http_out_tracker",
        "wmap1"
      ]
    ]
  }
]
